// Native Win32 resources embedded in VelocityCopy.WinUI.exe. Explorer, Alt-Tab,
// taskbar pinning, shortcuts and Installed Apps consume these resources directly.
#include "Version.h"

#define IDI_APPICON 1

IDI_APPICON ICON "Assets\\VelocityCopy.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VELOCITYCOPY_VERSION_COMMA
 PRODUCTVERSION VELOCITYCOPY_VERSION_COMMA
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "ReinierTutoriales\0"
            VALUE "FileDescription", "VelocityCopy\0"
            VALUE "FileVersion", VELOCITYCOPY_VERSION_STRING "\0"
            VALUE "LegalCopyright", "Copyright (c) 2026 ReinierTutoriales\0"
            VALUE "ProductName", "VelocityCopy\0"
            VALUE "ProductVersion", VELOCITYCOPY_VERSION_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
