#include <windows.h>
#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STRINGTABLE
BEGIN
    IDS_SHELL_COPY_WITH_VELOCITYCOPY  "Copy with VelocityCopy"
    IDS_SHELL_PASTE_WITH_VELOCITYCOPY "Paste with VelocityCopy"
END

LANGUAGE LANG_SPANISH, SUBLANG_SPANISH_MODERN
STRINGTABLE
BEGIN
    IDS_SHELL_COPY_WITH_VELOCITYCOPY  "Copiar con VelocityCopy"
    IDS_SHELL_PASTE_WITH_VELOCITYCOPY "Pegar con VelocityCopy"
END
